<div class="my-list-container">
  <div class="my-list-header">
    <app-search-input></app-search-input>
  </div>

  <div class="row mt-3">
    <div class="col-sm-6 col-md-4 col-lg-3">
      <app-content-card></app-content-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <app-content-card></app-content-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <app-content-card></app-content-card>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <app-content-card></app-content-card>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <app-paginator></app-paginator>
  </div>
</div>
